.card-block {
    min-height: 220px;
}   

body{
    overflow-x: hidden;
}

.row.flex-row.flex-nowrap {
    overflow-x: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(250, 250, 250); 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(91, 129, 199); 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3150b8; 
}

.img-small {
    max-height: 40px;
    max-width: 40px;
    
}

.img-large {
    height: 225px;
    width: 225px;
}

.title {
    width: 100%;
}

.icon {
    height: 30px;
    width: 30px;
    margin: 5px;
}